In [0]:
csv = open('./sample_data/california_housing_test.csv', 'r')
data = csv.read()
full_data = []

for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)

In [29]:
print(len(full_data))

3002

In [35]:
%%writefile ./meuteste.txt

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [43]:
import pandas as pd
myFile = pd.read_csv('./sample_data/california_housing_train.csv')

myFile.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

# Finalizei Manipulando arquivo TXT